main{
    display: grid;
    grid-template-columns: 0.75fr 4fr;
    gap: 10px;
}

.container.side_menu{
    padding-top: 20px;
    border-right: 1px solid #a1a1a161;
}

.container__side ul{
    padding: unset;
    margin: unset;
}

.container__side ul li{
    font-size: 14px;
    list-style: none;
    margin: 5px;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    color: var(--white);
}

.container__side li a{
    text-decoration: none;
    color: var(--white);
}

.container__side li svg{
    font-size: 18px;
}

.container__side .avatar img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.posts{
    border-radius: 5px;
    border: 1px solid #a1a1a1;
    padding: 20px;
}

.container .posts-title h3{
    font-size: var(--heading-4) !important;
    text-align: left !important;
}

.container .posts-user{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.container .posts-user p{
    margin-bottom: unset !important;
    font-weight: 600;
}

.post-options{
    cursor: pointer;
}

.container .posts-user span{
    font-size: var(--heading-4) !important;
    color: var(--primary) !important;
    font-weight: 600;
}

.container .posts-user img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.post-options{
    position: relative;
}

.container .posts-menu{
    position: absolute;
    background-color: #fff;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
}

.container .posts-menu ul{
    list-style: none;
    padding: unset;
    margin: unset;
    padding: 5px 10px;
}

.container .posts-menu li{
    font-size: 12px;
    color: var(--ct-dark);
}

.container .posts-profile{
    background-color: #b2b2c2;
    color: #fff;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.container__posts-flex{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}

.posts .posts-desc p{
    font-size: var(--p);
}

.posts .posts-desc img{
    width: 100%;
    max-height: 300px;
}

.posts-para{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #a1a1a1;
    margin-top: 8px;
}

.posts-para p{
    font-size: var(--button);
}

.posts-panel{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid #a1a1a1;
}

.posts-panel button{
    background-color: transparent;
    border: none;
    font-size: var(--button);
    color: var(--white);
}

.comments input{
    width: 100%;
}

.comments input{
    border: none;
    outline: none;
    font-size: var(--p);
    background-color: transparent;
    color: var(--white);
}

.comments-container{
    display: flex;
    border-radius: 5px;
    padding: 2px 8px;
}

.comment{
    border-bottom: 1px solid #e1e1e1;
    padding: 5px 0px;
}

.comment span{
    font-size: 12px;
    font-weight: 500;
    padding: unset;
    margin: unset;
}

.comment p{
    font-size: var(--p);
    margin-bottom: 0px;
    padding-bottom: 0px;
}

@media screen and (max-width:768px) {
    main{
        grid-template-columns: unset;
    }
}