.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

/* Modal box styling */
.followList-modal {
    background-color: var(--ct-dark);
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 101;
    overflow-y: auto;
}

.btn-trans{
    font-size: 12px !important;
    padding:4px 8px;
    border-radius: 5px;
    color: var(--white);
}